.HeaderContainer {
  width: 100%;
  min-width: 400px;
  padding-top: 20px;
}

.Header {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 5px 5px 8px 0px #a1a1a1;
	border-radius: 10px;
  color: #9dc0c2;
  font-size: 20px;
}

.HeaderBasket,
.HeaderStar {
  display: flex;
  gap: 5px;
}

.basketValue,
.starValue {
  color: #ff4d4d;
}
